body{
    background-color: #8a74ed;
    color:#ffffff;
}
.box{
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
    background-color: #9ae1f9;
    max-width : 500px;
    min-height: 300px;
    border-radius: 30px;
    padding: 50px;
}
h1{
    font-size: 50px;
}
button{
    min-height: 30px;
    min-width: 240px;
    margin: 20px;
    size: 50px;
    background-color: #acf4c4;
    border-radius: 50px;
    color: #0b0b0b;
    
}
button:hover{
    background-color: #5c47b6;
    color: #ffffff;
    border-color: white;
}